.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.canvas-container {
  width: 100%;
  aspect-ratio: 4 / 3;
  max-width: 500px;
  position: relative;
  background: var(--accent-color);
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
}